__pycache__/
.venv/
.vscode/
.history/
*.pyc
*.pyo
*.pyd
*.jpeg
instance/
.env
.env.*
Streaming*.json
secrets.json
cookies*.json
flask_secret_key.txt
Database/Users/*/img/tracks/*
Database/Users/*/img/artists/*
tmp/