{#- SPDX-FileCopyrightText: 2026 i7Gamer
    SPDX-License-Identifier: AGPL-3.0-or-later -#}

{% extends "layout.html" %}
{% block title %}{{ album.get('name', '') }} - {{ super() }}{% endblock %}
{% from '_artist_links.html' import artistLinks with context %}
{% block content %}
  {# The album detail page's shell: the parameters for
     _entity_detail_shell.html, which holds the markup shared with the artist
     page. #}
  {%- set entity = album -%}
  {%- set entityKind = 'album' -%}
  {%- set backEndpoint = 'topAlbumsPage' -%}
  {%- set backLabel = 'Back to Top Albums' -%}
  {%- set heroLine -%}{{ artistLinks(album.get('artists', [])) }}{%- endset -%}
  {%- include '_entity_detail_shell.html' %}
{% endblock %}
